[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
python-firebase = {git = "https://github.com/ozgur/python-firebase"}
gunicorn = "*"

[dev-packages]
pytest = "*"
flake8 = "*"

[scripts]
serve = "python app.py"

[requires]
python_version = "3.8"
